In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
import numpy as np
import cx_Oracle
import imageio

# Connect to database

In [53]:
con = cx_Oracle.connect("admin/Faiqalifarooqui12@eshop.cbp5pk0tdqap.us-east-2.rds.amazonaws.com:1521/orcl")

In [54]:
con.version

'19.8.0.0.0'

In [55]:
con.autocommit = True

In [5]:
itemsdf = pd.read_sql_query("SELECT * FROM CART_OPTIMIZATION",con)

In [7]:
itemsdf.head()

,BRANCH_ID,ITEM_ID,ITEM_NAME,ITEM_CATEGORY_ID,ITEM_PROMOTION_ID,IS_PROMOTION,PROMOTION_ID,PROMOTION_NAME,PROMOTION_ON_BRANCH_OR_ITEM,ITEM_PROMOTION_TYPE,BUY_ITEMS,FREE_ITEMS,TOTAL_ITEM,DISCOUNT,VALUE,PROMOTIONAL_PRICE,ITEM_PRICE
0,0415b61c72e24533b33c2d0b0f1a5ebf,2c9180837764bdd2017764bf94d1206a,¿¿¿¿¿¿¿¿¿¿¿8325,8fa6ff1038e7474d9041eb2deefa316c,None,0,None,None,None,None,NaN,NaN,NaN,NaN,NaN,0.5,0.5
1,0415b61c72e24533b33c2d0b0f1a5ebf,2c9180837764bdd2017764bf94d1206b,¿¿¿¿¿¿¿¿¿¿¿8326,8fa6ff1038e7474d9041eb2deefa316c,None,0,None,None,None,None,NaN,NaN,NaN,NaN,NaN,0.5,0.5
2,0415b61c72e24533b33c2d0b0f1a5ebf,2c9180837764bdd2017764bf94d1206c,¿¿¿¿¿¿¿¿¿¿¿8327,8fa6ff1038e7474d9041eb2deefa316c,None,0,None,None,None,None,NaN,NaN,NaN,NaN,NaN,0.5,0.5
3,0415b61c72e24533b33c2d0b0f1a5ebf,2c9180837764bdd2017764bf94d1206d,¿¿¿¿¿¿¿¿¿¿¿8328,8fa6ff1038e7474d9041eb2deefa316c,None,0,None,None,None,None,NaN,NaN,NaN,NaN,NaN,0.5,0.5
4,0415b61c72e24533b33c2d0b0f1a5ebf,2c9180837764bdd2017764bf94d1206e,¿¿¿¿¿¿¿¿¿¿¿8329,8fa6ff1038e7474d9041eb2deefa316c,None,0,None,None,None,None,NaN,NaN,NaN,NaN,NaN,0.5,0.5

In [25]:
 data_frame = pd.DataFrame(itemsdf) 
 
 data_frame.to_csv('Planckly_Items.csv')

In [6]:
df=pd.read_sql_query("SELECT * FROM ADMIN.CART_OPTIMIZATION",con)

In [9]:
df.head()

,BRANCH_ID,ITEM_ID,ITEM_NAME,ITEM_CATEGORY_ID,ITEM_PROMOTION_ID,IS_PROMOTION,PROMOTION_ID,PROMOTION_NAME,PROMOTION_ON_BRANCH_OR_ITEM,ITEM_PROMOTION_TYPE,BUY_ITEMS,FREE_ITEMS,TOTAL_ITEM,DISCOUNT,VALUE,PROMOTIONAL_PRICE,ITEM_PRICE
0,0415b61c72e24533b33c2d0b0f1a5ebf,2c9180837764bdd2017764bf96424c10,¿¿¿¿¿¿¿¿¿¿¿19499,8fa6ff1038e7474d9041eb2deefa316c,None,0,None,None,None,None,NaN,NaN,NaN,NaN,NaN,0.5,0.5
1,0415b61c72e24533b33c2d0b0f1a5ebf,2c9180837764bdd2017764bf96424c11,¿¿¿¿¿¿¿¿¿¿¿19500,8fa6ff1038e7474d9041eb2deefa316c,None,0,None,None,None,None,NaN,NaN,NaN,NaN,NaN,0.5,0.5
2,0415b61c72e24533b33c2d0b0f1a5ebf,2c9180837764bdd2017764bf96424c12,¿¿¿¿¿¿¿¿¿¿¿19501,8fa6ff1038e7474d9041eb2deefa316c,None,0,None,None,None,None,NaN,NaN,NaN,NaN,NaN,0.5,0.5
3,0415b61c72e24533b33c2d0b0f1a5ebf,2c9180837764bdd2017764bf96424c13,¿¿¿¿¿¿¿¿¿¿¿19502,8fa6ff1038e7474d9041eb2deefa316c,None,0,None,None,None,None,NaN,NaN,NaN,NaN,NaN,0.5,0.5
4,0415b61c72e24533b33c2d0b0f1a5ebf,2c9180837764bdd2017764bf96424c14,¿¿¿¿¿¿¿¿¿¿¿19503,8fa6ff1038e7474d9041eb2deefa316c,None,0,None,None,None,None,NaN,NaN,NaN,NaN,NaN,0.5,0.5

In [10]:
data_frame = pd.DataFrame(df) 
 
data_frame.to_csv('Planckly_df_items.csv')

# Algo

# 1) extract those records which have all item name(input) inclding branchid , quantity_threshold(TOTAL ITEM), unit_price , final_unit_price(PROMOTIONAL PRICE),and having quantity_threshold less than equal to required_quantity for each respective item.

In [26]:
itemsdf=pd.read_csv(r'C:\Users\user\Desktop\Planckly_dataset\Planckly_Items.csv')

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (4,6,8,20,21,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
sql_items=pd.read_csv(r'C:\Users\user\Planckly_Items.csv')

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (5,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
#dt= itemsdf[['BRANCH_ID','TOTAL_ITEM','ITEM_PRICE','PROMOTIONAL_PRICE','ITEM_NAME']].where(itemsdf['ITEM_NAME'] == item_input )

In [29]:
df= sql_items[['BRANCH_ID','ITEM_NAME','PROMOTIONAL_PRICE','ITEM_PRICE']]
df.head()

,BRANCH_ID,ITEM_NAME,PROMOTIONAL_PRICE,ITEM_PRICE
0,0415b61c72e24533b33c2d0b0f1a5ebf,¿¿¿¿¿¿¿¿¿¿¿8325,0.5,0.5
1,0415b61c72e24533b33c2d0b0f1a5ebf,¿¿¿¿¿¿¿¿¿¿¿8326,0.5,0.5
2,0415b61c72e24533b33c2d0b0f1a5ebf,¿¿¿¿¿¿¿¿¿¿¿8327,0.5,0.5
3,0415b61c72e24533b33c2d0b0f1a5ebf,¿¿¿¿¿¿¿¿¿¿¿8328,0.5,0.5
4,0415b61c72e24533b33c2d0b0f1a5ebf,¿¿¿¿¿¿¿¿¿¿¿8329,0.5,0.5

In [30]:
#df=itemsdf[['BRANCH_ID','NAME','STOCK']]
df['STOCK']=itemsdf[['STOCK']]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [310]:
df.head()

,BRANCH_ID,ITEM_NAME,PROMOTIONAL_PRICE,ITEM_PRICE,STOCK
0,0415b61c72e24533b33c2d0b0f1a5ebf,¿¿¿¿¿¿¿¿¿¿¿8325,0.5,0.5,100
1,0415b61c72e24533b33c2d0b0f1a5ebf,¿¿¿¿¿¿¿¿¿¿¿8326,0.5,0.5,100
2,0415b61c72e24533b33c2d0b0f1a5ebf,¿¿¿¿¿¿¿¿¿¿¿8327,0.5,0.5,100
3,0415b61c72e24533b33c2d0b0f1a5ebf,¿¿¿¿¿¿¿¿¿¿¿8328,0.5,0.5,100
4,0415b61c72e24533b33c2d0b0f1a5ebf,¿¿¿¿¿¿¿¿¿¿¿8329,0.5,0.5,100

In [1]:
#get_rankings(userInput,df)

In [2]:
# userInput = [
#             {'NAME':'¿¿¿¿¿¿¿¿¿¿¿8325','QUANTITY':5},
#             {'NAME':'¿¿¿¿¿¿¿¿¿¿¿8326', 'QUANTITY':3},
#             {'NAME':'¿¿¿¿¿¿¿¿¿¿¿8327', 'QUANTITY':2},
#             {'NAME':"¿¿¿¿¿¿¿¿¿¿¿8329", 'QUANTITY':5},
#             {'NAME':'¿¿¿¿¿¿¿¿¿¿¿8328', 'QUANTITY':4}
#          ] 
# input_items = pd.DataFrame(userInput)
# input_items

In [3]:
#inputId= df[df['ITEM_NAME'].isin(input_items['NAME'].tolist())]

In [4]:
# inputId.sort_index(inplace=True)
# inputId

In [5]:
#inputId['STOCK'] <= input_items['QUANTITY']

In [6]:
# fixed=inputId['BRANCH_ID'].unique()
# fixed

In [7]:
# len(fixed)

In [8]:
# fixed[4]

In [9]:
# inputId=inputId.loc[inputId["BRANCH_ID"]== fixed[0]]
# #a['NAME'] == inputId.count()
# inputId

In [10]:
# filterinfDataframe = inputId[(inputId['STOCK'] <= 100 ) ]
# filterinfDataframe

In [11]:
# k=[]
# for i, j in filterinfDataframe.iterrows():
#     k.append(j['STOCK']-4)

In [12]:
#filterinfDataframe['left_quantity']=k

In [13]:
# filterinfDataframe['sub_quantity'] = 4
# filterinfDataframe = filterinfDataframe[(filterinfDataframe['sub_quantity'] <= 100 ) ]

In [14]:
# filterinfDataframe

In [15]:
# filterinfDataframe['Quotient']=filterinfDataframe['left_quantity'] / filterinfDataframe['sub_quantity']

In [16]:
# filterinfDataframe

In [17]:
# filterinfDataframe['left_quantity']= filterinfDataframe['left_quantity']-(filterinfDataframe['Quotient']*filterinfDataframe['sub_quantity'])

In [18]:
# filterinfDataframe

In [19]:
# ind=0
# for i, j in filterinfDataframe.iterrows():
#     if j['left_quantity']!=0 :
#         filterinfDataframe['required_quantity']=filterinfDataframe['ITEM_PRICE'].min() * filterinfDataframe['left_quantity']
#     else:
#         x=len(fixed)
#         for i in range(len(fixed)):
#             ind=i
#             print(fixed[ind])

In [21]:
def item_optimization(itemName,RequiredQuantity):
    k=[]
    ind=0
    
    '''Extract those records which have all item names, quantity threshold less than equal to required quantity'''
    inputId= df[df['ITEM_NAME'].isin([itemName])]#isin(input_items['NAME'].tolist())] <===== replace this line after .isin if input is df 
    inputId=inputId[(inputId['STOCK'] <= RequiredQuantity)]
    inputId.reset_index()
    
    '''fixed tha unique branch id,iterate over each item name given input'''
    fixed=inputId['BRANCH_ID'].unique()
    output=inputId.loc[inputId["BRANCH_ID"]== fixed[ind]]
    output1=output[output['ITEM_NAME'].isin([itemName])] #<=== Replace if input is df
    
    '''now for every record start iterate on each quantity_threshold (atm we must have only 1): 15 : 27 zada my hamsehsa sasta huga! hamari assumption
                                initialize left_quantity by required_quantity'''
    filterinfDataframe = output1#[(output1['STOCK'] <= RequiredQuantity ) ] 
    for i, j in filterinfDataframe.iterrows():
        k.append(RequiredQuantity - j['STOCK'])
    filterinfDataframe['left_quantity']=k
    
    ''' iterate over every sub_quantity_threshold which are less than equal to  quantity_threshold '''
    filterinfDataframe['sub_quantity'] = RequiredQuantity
    filterinfDataframe = filterinfDataframe[(filterinfDataframe['sub_quantity'] <= RequiredQuantity ) ]
    filterinfDataframe['Quotient']=filterinfDataframe['left_quantity'] / filterinfDataframe['sub_quantity']
    filterinfDataframe['Left_quantity']=  (filterinfDataframe['Quotient']*filterinfDataframe['sub_quantity'])- filterinfDataframe['left_quantity'] 
    
    for i, j in filterinfDataframe.iterrows():
        if j['left_quantity']!=0 :
            filterinfDataframe['required_quantity']=filterinfDataframe['ITEM_PRICE'].min() * filterinfDataframe['left_quantity']
        else:
            x=len(fixed)
            for i in range(len(fixed)):
                ind=i
    return filterinfDataframe

In [32]:

item_optimization('¿¿¿¿¿¿¿¿¿¿¿8327',99)

,BRANCH_ID,ITEM_NAME,PROMOTIONAL_PRICE,ITEM_PRICE,STOCK,left_quantity,sub_quantity,Quotient,Left_quantity,required_quantity
15125,9d5da95725ff4cd88e3c5d61bfead1f0,¿¿¿¿¿¿¿¿¿¿¿8327,0.5,0.5,10,89,99,0.89899,0.0,44.5
33374,9d5da95725ff4cd88e3c5d61bfead1f0,¿¿¿¿¿¿¿¿¿¿¿8327,0.5,0.5,10,89,99,0.89899,0.0,44.5